<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTDMapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
    <!-- 权限组细则MAPPER文件 -->
<mapper namespace="com.hyst.dao.safe.DefinePowerDetilTblDao" >

 	 <resultMap type="DefinePowerDetilTbl" id="definePowerDetilTbl" >
		<id column="id" property="id"/>
		<result column="powerGroupID" property="powerGroupID"/>
		<result column="tableOperID" property="tableOperID"/>
		<result column="deptList" property="deptList"/>
	</resultMap>
	<!-- 批量插入权限组细则 -->
	<insert id="batchInsert" parameterType="java.util.List">
		INSERT INTO definePowerDetilTbl (powerGroupId,tableOperID,deptList)
		VALUES 
		<foreach collection="list" item="item" index="index" separator="," >
        	(#{item.powerGroupId},#{item.tableOperId},#{item.deptList})
    	</foreach>	  	
	</insert>
	
	<!-- 根据权限组ID查询权限细则，返回集合 resultType="DefinePowerDetilTbl"-->
	<select id="getByPowerGroupId"  resultType="com.hyst.vo.DefinePowerDetilTbl" parameterType="String">
		select tableOperID,deptList from definePowerDetilTbl where powerGroupId=#{powerGroupId }
	</select>
	<!-- 根据权限组ID和一级菜单ID删除所有权限细则 -->
	<delete id="batchDelete" parameterType="java.util.Map">
		DELETE from definePowerDetilTbl where powerGroupID=#{powerGroupID} and tableOperID in
 			(select id AS tableOperID from tableOper where tableId IN 
				( select id AS tableId from tableInfo where parentId=#{parentId}))
	</delete>
	<!-- 根据ID删除 -->
	<delete id="delete" parameterType="com.hyst.vo.DefinePowerDetilTbl">
		delete from definePowerDetilTbl  where id=#{id} 
	</delete>
	<!-- 单个增加 -->
	<insert id="insert" parameterType="com.hyst.vo.DefinePowerDetilTbl">
		insert into definePowerDetilTbl (powerGroupID,tableOperID,deptList) values (#{powerGroupID},#{tableOperID},#{deptList})
	</insert>
	<!-- 动态根据ID更新 -->
	<update id="update" parameterType="com.hyst.vo.DefinePowerDetilTbl">
		update definePowerDetilTbl 
		<set>
		<if test="powerGroupID != 0">
			powerGroupID=#{powerGroupID},
		</if>
		<if test="tableOperID != 0">
			tableOperID=#{tableOperID},
		</if>
		<if test="deptList != null">
			deptList=#{deptList},
		</if>
		</set>
 		 where id=#{id} 
	</update>
	<!-- 查询单个 -->
	<select id="getOne" resultType="com.hyst.vo.DefinePowerDetilTbl">
		select * from definePowerDetilTbl  where id=#{id} 
	</select>
	<!-- 动态查询 -->
	<select id="byOrder" resultType="com.hyst.vo.DefinePowerDetilTbl">
		select * from definePowerDetilTbl 
		<where>
			<if test=" powerGroupID != 0 ">
			  and powerGroupID=#{powerGroupID}
			</if>
			<if test=" tableOperID != 0 ">
			  and tableOperID=#{tableOperID}
			</if>
			<if test=" deptList != null ">
			  and deptList=#{deptList}
			</if>
		</where> 
	</select>
	<!-- 查询所有 -->
	<select id="list" resultType="com.hyst.vo.DefinePowerDetilTbl">
		select * from definePowerDetilTbl  
	</select>
 
</mapper>
