<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTDMapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.hyst.dao.safe.UserGroupDao" >

 	 <resultMap type="UserGroup" id="userGroup" >
		<id column="id" property="id"/>
		<result column="userGroupName" property="userGroupName"/>
		<result column="description" property="description"/>
		<result column="creatTime" property="creatTime"/>
		<result column="updateTime" property="updateTime"/>
	</resultMap>

	<!-- 根据ID删除用户组 -->
 	<delete id="delete" parameterType="com.hyst.vo.UserGroup">
 		delete from userGroup where id=#{id}
 	</delete>
	
	<!-- 查询所有 -->
	<select id="list" parameterType="java.util.Map" resultType="com.hyst.vo.UserGroup">
		select * from userGroup <!-- where isDelete=0 -->
	</select>
	<!-- 根据用户组ID查询用户组 -->
 	<select id="getOne" parameterType="com.hyst.vo.UserGroup" resultType="com.hyst.vo.UserGroup">
 		select id,userGroupName,description,creatTime,updateTime from userGroup where id=#{id}
 	</select>
 	<update id="update" parameterType="com.hyst.vo.UserGroup">
 		update userGroup set userGroupName=#{userGroupName},description=#{description},
 		updateTime=#{updateTime} where id=#{id} 
 	</update>
 	<!-- 添加用户组 -->
 	<insert id="insert" parameterType="com.hyst.vo.UserGroup">
 		insert into userGroup(id,userGroupName,description,creatTime)
 			values #{id},#{userGroupName},#{description},#{creatTime}
 	</insert>
</mapper>
