<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTDMapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyst.dao.user.UserDao">

	<!-- <resultMap type="com.hyst.vo.TableInfo" id="tableInfo">
		<id column="t.id" property="id" />
		<result column="t.tableName" property="tableName" />
		<result column="t.tableNameChs" property="tableNameChs" />
		<result column="t.isDelete" property="isDelete" />
		<result column="t.sort" property="sort" />
		<result column="t.parentId" property="parentId" />
		<result column="t.doMain" property="doMain" />
		<collection property="list"
			resultMap="com.hyst.dao.safe.TableInfoDao.tableInfo2" />

	</resultMap> -->

	
	<select id="loginAuthentication" parameterType="com.hyst.vo.user.User"  resultType="com.hyst.vo.user.User">
		select * from [user] where account=#{name} and password=#{pwd} and isDelete=0
	</select>



	
	
	
	
	
	
	
	
	
	
	


</mapper>
