.dropdown-auto {
	display: block;
}

.nav > li:hover {
	/*background-color: #1E90FF;*/
}

.li-hover > li > a:hover {
	background-color: #999999;
}

.paddingnone {
	padding: 0px;
}

.paddingnone li > a {
	height: 40px;
	padding: 10px 22px;
	line-height: 20px;
}

#sidebar-nav {
	position: absolute;
	top: 50px;
	width: 180px;
	float: left;
	margin: 0em;
	padding: 5.8em 0em;
}

#dashboard-menu {
	list-style: none;
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 0;
	margin-left: 20px;
}

#dashboard-menu > li > a {
	display: block;
	padding: 19px 14px 15px 14px;
	margin-bottom: 5px;
	/*border-bottom: 1px solid #dae1e8;*/
	box-shadow: 0 2px 1px -1px #FFFFFF;
	color: #000000;
	outline: 0px;
}

#dashboard-menu > li > a:hover {
	background-color: #999999;
}

#dashboard-menu ul.submenu {
	list-style-type: none;
	/*display: none;*/
	margin-top: 15px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 0px;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 15px;
	/*border-bottom: 1px solid #dae1e8;*/
	box-shadow: 0 2px 1px -1px #FFFFFF;
	padding-bottom: 10px;
}

#dashboard-menu .submenu li {
	margin-left: 15px;
	
}

#dashboard-menu ul.submenu.active {
	display: block;
}

#dashboard-menu ul.submenu a {
	font-weight: normal;
	font-size: 13px;
	color: rgb(76, 83, 90);
	text-decoration: none;
	display: block;
	margin-bottom: 7px;
}

#dashboard-menu ul.submenu a:hover {
	text-decoration: none;
}

#dashboard-menu ul.submenu a.active {
	font-weight: bold;
	text-shadow: none;
}

#dashboard-menu > li.active > a,
#dashboard-menu > li > a:hover {
	color: rgba(51, 69, 90, 1);
	text-decoration: none;
}

#dashboard-menu > li.active a {
	font-weight: 600;
	text-shadow: 1px 1px 1px #fff;
}

#dashboard-menu > li.active i {
	opacity: 1;
}


