<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTDMapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
    <!-- 权限组操作 -->
<mapper namespace="com.hyst.dao.safe.PowerGroupTblDao" >

 	 <resultMap type="PowerGroupTbl" id="powerGroupTbl" >
		<id column="id" property="id"/>
		<result column="powerGroup" property="powerGroup"/>
		<result column="isDelete" property="isDelete"/>
		<result column="remark" property="remark"/>
	</resultMap>
	<!-- 根据名称查询 -->
	<select id="getByName" parameterType="PowerGroupTbl" resultType="com.hyst.vo.PowerGroupTbl">
		select * from powerGroupTbl  where powerGroup=#{powerGroup} and isDelete=0
	</select>
	<!-- 查询单个对象，根据ID -->
	<select id="getOne" parameterType="PowerGroupTbl" resultType="com.hyst.vo.PowerGroupTbl">
		select * from powerGroupTbl  where id=#{id} and isDelete=0
	</select>
	<!-- 根据ID删除 -->
	<delete id="delete" parameterType="com.hyst.vo.PowerGroupTbl">
		delete from powerGroupTbl  where id=#{id} 
	</delete>
	<!-- 单个增加 -->
	<insert id="insert" parameterType="com.hyst.vo.PowerGroupTbl">
		insert into powerGroupTbl (id,powerGroup,isDelete,remark) values (#{id},#{powerGroup},#{isDelete},#{remark})
	</insert>
	<!-- 动态根据ID更新 -->
	<update id="update" parameterType="com.hyst.vo.PowerGroupTbl">
		update powerGroupTbl 
		<set>
		<if test="powerGroup != null">
			powerGroup=#{powerGroup},
		</if>
		<if test="isDelete != 0">
			isDelete=#{isDelete},
		</if>
		<if test="remark != null">
			remark=#{remark},
		</if>
		</set>
 		 where id=#{id} 
	</update>

	<!-- 动态查询 -->
	<select id="byOrder" resultType="com.hyst.vo.PowerGroupTbl">
		select * from powerGroupTbl 
		<where>
			<if test=" powerGroup != null ">
			  and powerGroup=#{powerGroup}
			</if>
			<if test=" isDelete != 1 ">
			  and isDelete=#{isDelete}
			</if>
			<if test=" remark != null ">
			  and remark=#{remark}
			</if>
		</where> 
	</select>
	<!-- 查询所有 -->
	<select id="list" resultType="com.hyst.vo.PowerGroupTbl">
		select * from powerGroupTbl  
	</select>
 
</mapper>
