<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTDMapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.hyst.dao.safe.TableOperDao" >

 	 <resultMap type="TableOper" id="tableOper" >
		<id column="id" property="id"/>
		<result column="tableId" property="tableId"/>
		<result column="operTypeId" property="operTypeId"/>
		<result column="domain" property="domain"/>
	</resultMap>
	<!-- 根据菜单ID查询所有功能 -->
	<select id="listByTableId" resultType="com.hyst.vo.TableOper">
		select * from tableOper where tableId=#{tableId } 
	</select>


	<!-- 根据ID删除 -->
	<delete id="delete" parameterType="com.hyst.vo.TableOper">
		delete from tableOper  where id=#{id} 
	</delete>
	<!-- 单个增加 -->
	<insert id="insert" parameterType="com.hyst.vo.TableOper">
		insert into tableOper (tableId,operTypeId,domain) values (#{tableId},#{operTypeId},#{domain})
	</insert>
	<!-- 动态根据ID更新 -->
	<update id="update" parameterType="com.hyst.vo.TableOper">
		update tableOper 
		<set>
		<if test="tableId != 0">
			tableId=#{tableId},
		</if>
		<if test="operTypeId != 0">
			operTypeId=#{operTypeId},
		</if>
		<if test="domain != null">
			domain=#{domain},
		</if>
		</set>
 		 where id=#{id} 
	</update>
	<!-- 查询单个 -->
	<select id="getOne" resultType="com.hyst.vo.TableOper">
		select * from tableOper  where id=#{id} 
	</select>
	<!-- 动态查询 -->
	<select id="byOrder" resultType="com.hyst.vo.TableOper">
		select * from tableOper 
		<where>
			<if test=" tableId != 0 ">
			  and tableId=#{tableId}
			</if>
			<if test=" operTypeId != 0 ">
			  and operTypeId=#{operTypeId}
			</if>
			<if test=" domain != null ">
			  and domain=#{domain}
			</if>
		</where> 
	</select>
	<!-- 查询所有 -->
	<select id="list" resultType="com.hyst.vo.TableOper">
		select * from tableOper  
	</select>
 
</mapper>
