<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTDMapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.hyst.dao.safe.UserGroupPowerDetailDao" >

 	 <resultMap type="UserGroupPowerDetail" id="userGroupPowerDetail" >
		<id column="id" property="id"/>
		<result column="userGroupId" property="userGroupId"/>
		<result column="tableOperID" property="tableOperID"/>
		<result column="deptList" property="deptList"/>
	</resultMap>
	<!-- 批量插入数据 -->
	<insert id="batchInsert" parameterType="java.util.List">
    	INSERT INTO userGroupPowerDetail (id,userGroupId,tableOperID,deptList)
    	VALUES 
    	<foreach collection="list" item="item" index="index" separator="," >
        	(#{item.id},#{item.userGroupId},#{item.tableOperID},#{item.deptList})
    	</foreach>
	</insert>
	<!-- 批量删除数据 -->
	<delete id="batchDelete" parameterType="java.util.Map">
		 DELETE from userGroupPowerDetail where userGroupId=#{userGroupId} and tableOperID IN (
			SELECT id from tableOper where tableId IN (
				SELECT id from tableInfo where parentId= #{parentId})
 		)
	</delete>
	
	<!-- 根据用户组Id查询 -->
	<select id="selectByGroupId" resultType="com.hyst.vo.UserGroupPowerDetail">
		select * from userGroupPowerDetail  where userGroupId=#{userGroupId} 
	</select>
	
	<!-- 根据ID删除 -->
	<delete id="delete" parameterType="com.hyst.vo.UserGroupPowerDetail">
		delete from userGroupPowerDetail  where id=#{id} 
	</delete>
	<!-- 单个增加 -->
	<insert id="insert" parameterType="com.hyst.vo.UserGroupPowerDetail">
		insert into userGroupPowerDetail (userGroupId,tableOperID,deptList) values (#{userGroupId},#{tableOperID},#{deptList})
	</insert>
	<!-- 动态根据ID更新 -->
	<update id="update" parameterType="com.hyst.vo.UserGroupPowerDetail">
		update userGroupPowerDetail 
		<set>
		<if test="userGroupId != 0">
			userGroupId=#{userGroupId},
		</if>
		<if test="tableOperID != 0">
			tableOperID=#{tableOperID},
		</if>
		<if test="deptList != null">
			deptList=#{deptList},
		</if>
		</set>
 		 where id=#{id} 
	</update>
	<!-- 查询单个 -->
	<select id="getOne" resultType="com.hyst.vo.UserGroupPowerDetail">
		select * from userGroupPowerDetail  where id=#{id} 
	</select>
	<!-- 动态查询 -->
	<select id="byOrder" resultType="com.hyst.vo.UserGroupPowerDetail">
		select * from userGroupPowerDetail 
		<where>
			<if test=" userGroupId != 0 ">
			  and userGroupId=#{userGroupId}
			</if>
			<if test=" tableOperID != 0 ">
			  and tableOperID=#{tableOperID}
			</if>
			<if test=" deptList != null ">
			  and deptList=#{deptList}
			</if>
		</where> 
	</select>
	<!-- 查询所有 -->
	<select id="list" resultType="com.hyst.vo.UserGroupPowerDetail">
		select * from userGroupPowerDetail  
	</select>
 
</mapper>
